		* {
			margin: 0;
			padding: 0;
		}
		
		a {
			text-decoration: none;
		}
		body {
			/*height: 3000px;*/
		}
		.font {
			font-family: "微软雅黑";
		}
		.container {
			width: 997px;
			margin: 0 auto;
			
		}

		.clearfix:after {  
			content: "."; 
			display: block; 
			height: 0; 
			clear: both; 
			visibility: hidden;  
		}   

 		.clearfix {
 			*zoom: 1;
 		} 
 		.float {
 			float: left;
 		}
		/*head start*/
		.head {
			height: 41px;
			line-height: 41;
			background-color: #333;
		}
		.head-in {
			height: 41px;
			line-height: 41px;
			/*background-color: #ccc; */
		}
		.h-in-l {
			padding-left: 7px;
			color: #fff;
			font-size: 14px;
		}
		.head ul {
			list-style: none;
			float: right;
			height: 41px;
			width: 308px;
			/*background-color: pink;*/
		}
		.head li {
			float: left;
			padding:0 16px;
		}
		.head li a {
			color: #fff;
			font-family: "微软雅黑";
			font-size: 14px;
		}
		.head li a:hover {
			text-decoration: underline;
		}
		/*search start*/
		.search {
			height: 100px;
			/*background-color: #ccc;*/
		}
		.search-l {
			width: 312px;
			height: 100px;
			line-height: 100px;
			/*background-color: pink;*/
			padding-left: 7px;
		}
		.search-l .logo {
			margin-top: 8px;
		}
		.logo-r {
			width: 198px;
			height: 70px;
			/*background-color: blue;*/
			float: right;
			border-left:2px solid #e6e6e6;
			margin-top: 18px;
			position: relative;
		}
		.logo-r h6 {
			color: #9dcb2a;
			font-size: 30px;
			position: absolute;
			top: -25px;
			right:0;
		}
		.logo-r p {
			color: #adadad;
			position: absolute;
			right: 0;
			bottom: -30px;
			font-size: 20px;
		}
		/*search-r start*/
		.search-r {
			width: 395px;
			height: 100px;
			float: right;
			/*background-color: #f05;*/
		}
		.search-r li {
			list-style: none;
			float: left;
			height: 29px;
			line-height: 29px;
			margin-top: 33px;
			padding: 0 15px;

		}
		.search-r li a {
			color: #505050;
			font-size: 14px;
			font-family: "微软雅黑";
		}
		.search-r li a:hover {
			color: #9dcb2a;
			border-bottom: 2px solid #9dcb2a;
		}
		/*banner start*/
		.banner {
			height: 601px;
			background: url(images/banner_02.png);
		}
		/*main start*/
		.main-wai {
			padding: 23px 0;
			background-color: #f2f2f2;
		}
		.main {
			height: 235px;
			background-color: #f2f2f2;
		}
		.main>div {
			float: left;
			height: 235px;
			width: 248px;
			/*background-color: pink;*/
			border-right: 1px solid #ddd;
			box-sizing:border-box;
			/*padding-right: 18px;*/
			position: relative;
		}
		.main>div:last-child {
			border-right: 0;
		}
		.main div div {
			width: 101px;
			height: 101px;
			background: url(images/sprit.png) no-repeat;
			position: absolute;
			top: 8px;
			left: 77px;
		}
		.main div:nth-child(2) div {
			background: url(images/sprit.png) no-repeat top right;
		}

		.main div:nth-child(3) div {
			background-position:  0 -127px;
		}
		.main div:nth-child(4) div {
			background-position:  -199px -127px;
		}
		.main div h6 {
			color: #3b3b3b;
			font-size: 20px;
			position: absolute;
			top: 126px;
			left: 45px;
			font-family: "微软雅黑";
			font-weight: normal;
		}
		.main div:nth-child(2) h6 {
			left:77px;
		}
		.main div p {
			color: #727272;
			font-size: 14px;
			position: absolute;
			top: 163px;
			left: 22px;
			font-family: "微软雅黑";
			font-weight: normal;
			margin-right: 15px;
			text-indent: 1em;
		}
		/*phone start*/
		.phone {
			height: 116px;
			background-color: #e1e1e1;
			text-align: center;
			overflow: hidden;
		}
		.phone h3 {
			color: #222;
			font-size: 25px;
			margin-top: 30px;
			font-weight: normal;
		}
		.phone p {
			color: #767675;
			font-size: 16px;
			margin-top: 14px;
		}
		/*green start */
		.green-wai {
			background-color: #69ae5b;
		}
		.green {
			height: 685px;
			background:  url(images/download.jpg) 0 0 no-repeat;
			position: relative;
		}
		.green a {
			display: inline-block;
			width: 340px;
			height: 77px;
			/*background-color: #ccc;*/
			position: absolute;
			top: 193px;
			right: 112px;
		}
		/*new start*/
		.new {
			/*height: 471px;*/
			/*background-color: #ccc;*/
			text-align: center;
			overflow: hidden;
			position: relative;
		}
		.new>h4 {
			color:#818181;
			font-size: 44px;
			font-family: Impact; 
			margin-top: 15px;
		}
		.new>h4 span {
			color: #a4cf41;
		}
		.new>p {
			color:#292929;
			font-size: 16px;
			margin-bottom: 13px;
		}
		.new  .new-m div {
			width: 486px;
			height: 139px;
			/*background-color: #f23;*/
			box-sizing:border-box;
			padding-left: 7px;
			float: left;
		}
		.new div:nth-child(2) {
			margin-left: 20px;
		}
		.new div img {
			display: inline-block;
			float: left;
			vertical-align: top;
		}
		.new div h4 {
			color: #292929;
			font-size: 16px;
			margin: 8px 157px 6px 0;
			font-weight: normal;
		}
		.new div p {
			color: #939393;
			font-size: 12px;
			line-height: 29px;
		}
		/*.new .ul {
			float: left;
			width: 450px;
			padding-left: 7px;
			float: left;
			
		}*/
		/*.new .ul:first-child {
			margin-top: 30px;
			margin-left: 20px;
			position: absolute;
			top: 250px;
			left: 7px;
		}*/
		/*.new .ul:last-child {
			position: absolute;
			right: 50px;
			top: 250px;
		}*/
		/*.new .ul li {
			list-style: none;
			line-height: 34px;
			color: #292929;
			position: relative;
			font-size: 12px;
		}
		.new .ul li a {
			
			color: #292929;
			position: absolute;
			top: 3px;
			left: 11px;
		}
		.new .ul li span {
			float: right;
		}*/
		.news-f {
			width: 997px;
			padding-left: 7px;
			background-color: #ccc;
			/*height: 100px;*/
		}
		.news-f ul {
			list-style: none;
			float: left;
		}
		.news-f ul:last-child {
			margin-left: 45px;
		}
		.news-f ul li {
			width: 448px;
			height: 35px;
			background: url(images/new_05.png) no-repeat left center;
			line-height: 35px;
			padding-left: 10px;

		}
		.news-f ul li a {
			float: left;
			color: #292929;
			font-family: "微软雅黑";
		}
		.news-f ul li a:hover {
			text-decoration: underline;
		}
		.news-f ul li span {
			float: right;
		}
		/*footer start*/
		.footer {
			background-color: #333;
		}
		.footer-in {
			height: 310px;
			box-sizing:border-box;
			/*background-color: pink;*/
			padding: 42px 0 0 47px;

		}
		.footer-in-contact {
			height: 180px;
		}
		.message {
			float: left;
		}
		.message h4,
		.us h4 {
			height: 26px;
			line-height: 26px;
			padding-left: 30px;
			background:  url(images/mail.jpg)  no-repeat left center;
			color: white;
			font-family: "微软雅黑";
			font-weight: normal;
		}
		.us h4 {
			background: url(images/man_03.jpg) no-repeat left center;
		}
		.message textarea {
			width: 588px;
			height: 108px;
			box-sizing:border-box;
			background-color: #1d2026;
			border: 1px solid #3b3b43;
			resize: none;
			outline: none;
			color: #5d5d5d;
			padding: 12px;
			vertical-align: top;
		}
		.message input {
			display: inline-block;
			width: 36px;
			height: 110px;
			vertical-align: top;
			background: url(images/btn_03.jpg) no-repeat;
			border:0;
			margin: 0;

		}
		.us {
			float: left;
			margin-left: 30px;
		}
		.us p {
			line-height: 25px;
			margin-top: 5px;
			color: white;
			font-family: "微软雅黑";
			font-weight: normal;
		}
		.subnav {
			text-align: center;
			line-height: 35px;
			font-family: "微软雅黑";
			color: white;

		}
		.subnav a {
			margin: 0 15px;
			color: #fff;

		}
		.subnav a:hover {
			text-decoration: underline;
		}
		/*返回顶部开始*/
		.back {
			width: 40px;
			height: 40px;
			background: url(images/top_03.jpg) no-repeat;
			position: fixed;
			right: 30px;
			bottom: 50px;
		}